Vos voitures enregistrées :
<ul>
  <% for(var i = 0; i < user.cars;i++) { %>
  <li>
  <%= user.cars[i].registrationNumber %>
  </li>
  <% } %>
</ul>

Ajouter une voiture :
<form action="/addcar" method="POST">
  Merci d'indiquer son numéro d'immatriculation :
  <input type="text" name="registrationNumber" id="registrationNumber"/>
  <input type="submit" value="Valider"/>
</form>
